<div class="card py-5 px-4">
  <p class="display-4"><%= contact.name %></p>
  <p class="lead"><%= contact.contact_number %></p>
  <hr class="hr">
  <address>
    <strong>Physical address:</strong>
    <%= contact.physical_address %>
  </address>

  <address>
    <strong>Billing address:</strong>
    <%= contact.billing_address %>
  </address>
</div>
